<div class="a-propos">
	<div class="img">
		<img src="./images/ecrivain.jpg">
	</div>
	<div class="text">
		<h2>À Propos de Jean Forteroche</h2>
		<p>Jean Forteroche est un acteur et écrivain français, né le 26 avril 1960 à Perpignan. Découvert suite à sa performance lors d'une pièce de théâtre locale en 1979, il est alors propulsé sur les plus grandes scènes du théâtre français, puis internationales.</p>
		<p>Il se lance également dans l'écriture de romans en 1987. Romans qui ne manquent pas d'être largement critiqués par les revues pour leur aspect fantaisistes qui met au défi l'imagination du lecteur. Cependant, ces dures critiques ne font pas faiblir l'intérêt du public pour ses oeuvres telles que "1999", "Trois jours en mille ans" et "À la rencontre du grand vide".</p>
		<p>Bien que le fantaisiste et la découverte de l'inconnu soient les principales essences de son inspiration, elles ne constituent pas un périmètre d'écriture infranchissable pour l'écrivain. Bien d'autres oeuvres beaucoup plus "terre-à-terre" découlent du maître des histoires car rien ne peut empêcher l'esprit d'un écrivain de se perdre dans l'étendue que lui offrent les mots.</p>
	</div>
</div> 