<section>
	<h2>Gérer les commentaires</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>Auteur</th>
			<th>Commentaire</th>
			<th>Date</th>
			<th>N° d'épisode</th>
			<th>État</th>
			<th>Supprimer</th>
		</tr>
		<tr>
			<td>{{ id }}</td>
			<td>{{ author }}</td>
			<td>{{ content }}</td>
			<td>{{ date }}</td>
			<td>{{ episode_id }}</td>
			<td>{{ state }}</td>
			<td>
				<form action="" method="POST">
					<input type="submit" name="supprimer" value="Supprimer">
					<input type="hidden" name="id" value="{{ id }}">
					<a href=""></a><i class="fa fa-trash" aria-hidden="true"></i>
				</form>
			</td>
		</tr>
	</table>
</section>