<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link href="./css/style.css" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<script>
		function showHideMenu(target){
			target = target.getElementsByTagName("ul")[0];
			let classname = "";
			if (target.className !== "visible") classname = "visible";
			target.className = classname;
		}
	</script>


</head>
<body>

	<header>
		{{ menu }}
	</header>
	
	
	{{ content }}


	

</body>
</html>